#top{
    position: absolute;
}

#cabecera{
    position: absolute;
    top: 7.5%;
    background-color: #6c70a6;
    width: 800px;
    text-align: center;
    top:19%;
}

#cuerpo{
    position: absolute;
    top: 30%;
    background-color: #3a3e77;
    width: 800px;
}

#bot{
    position: absolute;
    top: 75%;
}